h2 {
    color: rgb(0, 66, 0);
    font-style: italic;
  }


.error {
    font-size: 16px;
    border-style: solid;
    border-radius: 6px;
    padding: 12px;
    margin-top: 12px;
    margin-bottom: 6px;
    color: rgb(128, 0, 0);
    background: rgb(255, 197, 197);
}

.confirmation {
    font-size: 16px;
    border-style: solid;
    border-radius: 12px;
    padding: 12px;
    margin-top: 12px;
    margin-bottom: 6px;
    color: rgb(0, 66, 0);
    background: rgb(193, 255, 193);
}